/personal
/personal.pub
/.idea/csv-editor.xml
/nps.csv
/.idea/vcs.xml
/.idea/.gitignore
/.pylintrc
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/testing_n_poc.iml
__pycache__/

new/__pycache__/

